:root {
  --background-body: rgb(255, 255, 255);
  --text-regular: #000000;
}

body {
  line-height: 1.5;
  font-family: Verdana, monospace;
  color: var(--text-regular);
  display: flex;
  flex-direction: column;
  background-color: #505050;
  min-width: 970px;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(250, 250, 250, 60%);
  height: 20vh;
  align-items: center;
  font-size: 2em;
  padding: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  background-color: white;
  border-radius: 2em;
  overflow: hidden;
}
input + input {
  margin-left: 0.2em;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10em;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--text-regular);
}

input[type="range"].red::-webkit-slider-thumb {
  background: red;
  box-shadow: -407px 0 0 400px red;
  border: solid rgb(112, 2, 2);
}

input[type="range"].green::-webkit-slider-thumb {
  background: green;
  box-shadow: -407px 0 0 400px green;
  border: solid rgb(3, 63, 3);
}
input[type="range"].blue::-webkit-slider-thumb {
  background: blue;
  box-shadow: -407px 0 0 400px blue;
  border: solid rgb(5, 5, 82);
}
p {
  width: 20%;
}
